.main {
  padding: 0 6.25rem 8rem;
  display: flex;
  flex-direction: column;
}

.cart-heading {
  font-size: 2rem;
  font-weight: 700;
  color: #1d1f22;
  margin-bottom: 2rem;
}

.total {
  color: #1d1f22;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.total-span {
  font-weight: 500;
}
.all-products-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.product-wrapper {
  padding-top: 1.25rem;
  border-top: 1px solid #e5e5e5;
  width: 100%;
  display: flex;
  margin-bottom: 1.25rem;
}

.details-wrapper {
  margin-right: auto;
  width: 18.25rem;
}

.to-product,
.to-product:active,
.to-product:visited,
.to-product:link {
  text-decoration: none;
}

.brand {
  color: #1d1f22;
  font-weight: 600;
  cursor: pointer;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.name {
  color: #1d1f22;
  font-weight: 400;
  cursor: pointer;
  font-size: 2rem;
}

.price {
  font-weight: 700;
  font-size: 1.5rem;
  color: #1d1f22;
  margin-top: 1.5rem;
  margin-bottom: 1.75rem;
}

.attribute-name {
  font-weight: 600;
  font-size: 1.25rem;
  color: #1d1f22;
  margin-bottom: 1rem;
}

.attribute-values-wrapper {
  display: flex;
  align-items: center;

  margin-bottom: 1rem;
}

.color-btn {
  margin-right: 0.25rem;
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
}

.selected-color-btn {
  margin-right: 0.25rem;
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
  border: 1px solid #1d1f22;
}

.value-btn {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  border: 1px solid #1d1f22;
  background: #ffffff;
  color: #1d1f22;
}

.selected-value-btn {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  border: 1px solid #1d1f22;
  background: #1d1f22;
  color: #ffffff;
}

.amount-btn-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 0.75rem;
  align-self: stretch;
}

.amount-btn {
  box-sizing: border-box;
  width: 2.5rem;
  height: 2.5rem;

  font-size: 1.5rem;
  color: #1d1f22;
  border: 1px solid #1d1f22;
  background: #ffffff;
}

.amount {
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.displayed-image-wrapper {
  position: relative;
  height: max-content;
}

.displayed-image {
  width: 8.75rem;
}

.arrow-div {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: 100%;
  padding: 0 1rem 0 0.5rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.next-btn {
  transform: scaleX(-1);
  cursor: pointer;
}

.previous-btn {
  margin-right: auto;
  cursor: pointer;
}

.total-price {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1rem;
  color: #1d1f22;
}

.to-cart-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;
}

.to-bag-btn,
.to-bag-btn:visited,
.to-bag-btn:link,
.to-bag-btn:active {
  text-decoration: none;
  text-align: center;
  width: 8.75rem;
  padding: 0.875rem 0;
  color: #1d1f22;
  background: #ffffff;
  border: 1px solid #1d1f22;
  border-radius: 4px;
  margin-right: 0.75rem;
  font-weight: 700;
}

.checkout-btn,
.checkout-btn:link,
.checkout-btn:visited,
.checkout-btn:active {
  text-decoration: none;
  text-align: center;
  width: 8.75rem;
  padding: 0.875rem 0;
  font-weight: 700;
  border-radius: 4px;
  color: #ffffff;
  border: 1px sold transparent;
  background: #5ece7b;
}

.no-products-text {
  font-size: 1rem;
  font-weight: 400;
}

.total-price {
  color: #1d1f22;
  font-weight: 700;
  font-size: 1.5rem;
  width: 100%;
  padding-top: 4rem;
  border-top: 1px solid #e5e5e5;
}
