.spinner {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.3rem solid transparent;
  border-right: 0.3rem solid #5ece7b;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spinning 1s linear infinite;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
